@import 'layoutStyles.scss';
@import 'lightTheme.scss';
@import 'darkTheme.scss';
@import 'signinStyles.scss';
@import 'agentStyles.scss';


// Font Sizings 
.f-5{ font-size: 5px!important; }
.f-10{ font-size: 10px!important; }
.f-15{ font-size: 15px!important; }
.f-20{ font-size: 20px!important; }
.f-25{ font-size: 25px!important; }
.f-30{ font-size: 30px!important; }
.f-35{ font-size: 35px!important; }

.table-sm-1{
    max-height: 400px;
    overflow-y: auto;
}



::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .white{
    color: whitesmoke;
}

.searchList{
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}
.name{ font-size: 20px; }
.address{ font-size: 12px; }

.searchList:hover{
  transition-duration: 300ms;
  background-color: rgba(85, 85, 85, 0.11);
}


.custom-btn{
  background-color: white;
  border: 1px solid rgb(6, 150, 172);
  border-radius: 25px;
  padding:8px 30px 8px 30px;
  font-weight: 500;
}
.custom-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172);
  color: white;
}
.hover-table:hover{
  cursor: pointer;
  transition-duration: 300ms;
  background-color: rgba(192, 192, 192, 0.212);
}

.completeCalls{
  cursor: pointer;
  background-color: rgb(30, 112, 30);
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  color: white!important;
  padding: 20px;
}
.completeCalls:hover{
  background-color: rgb(16, 53, 16);
}
.cancelCalls{
  cursor: pointer;
  background-color: rgb(123, 43, 33);
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  color: white!important;
  padding: 20px;
}
.cancelCalls:hover{
  background-color: rgb(72, 27, 21);
}
.ongoingCalls{
  cursor: pointer;
  background-color: rgb(23, 73, 114);
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  color: white!important;
  padding: 20px;
}
.ongoingCalls:hover{
  background-color: rgb(16, 44, 66);
}
.wh{
  color: #f1f1f1!important;
}

.modify-red:hover{
  transition-duration: 300ms;
  cursor: pointer;
  color: rgb(193, 29, 29);
}